apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
data:
  message: {{ .Values.configData.message }}
  APP_MESSAGE: {{ .Values.configData.message | quote }}
  APP_PORT: {{ .Values.configData.port | quote }}