apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-service
spec:
  type: ClusterIP
  selector:
    app: {{ .Values.appLabel }}
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80